<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
{% load staticfiles %}
<!-- fullCalendar -->
<script src="{% static "fullcalendar/lib/jquery.min.js" %}"></script>
<script src="{% static "highcharts/highcharts.js" %}"></script>
<link href="{% static "highcharts/highcharts.css" %}" rel='stylesheet' media='print' />

<script type="text/javascript">
    $(function () {
        {% for product_name,time_bill_info in all_products_time_bill.items  %}
        $('#container_{{ product_name }}').highcharts({
            title: {
                text: '{{ product_name }}'
            },
            xAxis: {
                 categories: {{ weeklist|safe }}
            },
            labels: {
                items: [{
                    html: '{{ product_name }}',
                    style: {
                        left: '50px',
                        top: '18px',
                        color: (Highcharts.theme && Highcharts.theme.textColor) || 'black'
                    }
                }]
            },
            series: [
                {% for operation_name,time_bill in time_bill_info.product_time_bill.items  %}
                    {
                        type: 'column',
                        name: "{{ operation_name }}",
                        data: {{ time_bill }}
                    },
                {% endfor %}
                {
                    type: 'spline',
                    name: 'Average',
                    data: {{ time_bill_info.product_average_time_bill }},
                    marker: {
                        lineWidth: 3,
                        lineColor: Highcharts.getOptions().colors[3],
                        fillColor: 'white'
                    }
                }, 
                {
                    type: 'pie',
                    name: 'Total consumption',
                    data: [
                        {% for operation_name,total_time in time_bill_info.operation_total_time_list.items  %}
                        {
                            name: '{{ operation_name }}',
                            y: {{ total_time }},
                        },
                        {% endfor %}
                    ],
                    center: [100, 80],
                    size: 100,
                    showInLegend: false,
                    dataLabels: {
                        enabled: false
                    },
                },
            ]
        });
        {% endfor %}
    });
</script>

</head>
<body>
    {% for product_name in all_products_time_bill  %}
    <div id="container_{{ product_name }}" style="min-width: 310px; height: 400px; margin: 0 auto">
    </div>
    {% endfor %}
</body>
</html>
