<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
{% load staticfiles %}
<!-- fullCalendar -->
<script src="{% static "fullcalendar/lib/jquery.min.js" %}"></script>
<script src="{% static "highcharts/highcharts.js" %}"></script>
<link href="{% static "highcharts/highcharts.css" %}" rel='stylesheet' media='print' />

<script type="text/javascript">
$(function () {
    $('#container').highcharts({
        title: {
            text: '时间轴'
        },
        xAxis: {
             categories: {{  weeklist|safe }}
        },
        labels: {
            items: [{
                html: '时间轴',
                style: {
                    left: '50px',
                    top: '18px',
                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'black'
                }
            }]
        },
        series: [
        {% for operation_name,time_bill in product_time_bill.items  %}
            {
                type: 'column',
                name: "{{ operation_name }}",
                data: {{ time_bill }}
            },
        {% endfor %}
        {
            type: 'spline',
            name: 'Average',
            // data: [3, 2.67, 3, 6.33, 3.33, 2],
             data: {{ product_average_time_bill }},
            marker: {
                lineWidth: 2,
                lineColor: Highcharts.getOptions().colors[3],
                fillColor: 'white'
            }
        }, 
        {
            type: 'pie',
            name: 'Total consumption',
            data: [
                {% for operation_name,total_time in operation_total_time_list.items  %}
                {
                    name: '{{ operation_name }}',
                    y: {{ total_time }},
                    // color: Highcharts.getOptions().colors[0] // Jane's color
                },
                {% endfor %}

                // {
                //     name: 'Jane',
                //     y: 13,
                //     color: Highcharts.getOptions().colors[0] // Jane's color
                // }, 
                // {
                //     name: 'John',
                //     y: 23,
                //     color: Highcharts.getOptions().colors[1] // John's color
                // }, 
                // {
                //     name: 'Joe',
                //     y: 19,
                //     color: Highcharts.getOptions().colors[2] // Joe's color
                // }
            ],
            center: [100, 80],
            size: 100,
            showInLegend: false,
            dataLabels: {
                enabled: false
            }
        }]
    });
});
</script>
</head>
<body>
    <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
</body>
</html>
